*{
	margin: 0;
	padding: 0;
}

/*.jumbotron {
background-image: url("images/imgres.jpg");
background-size: cover;}*/

.jumbotron a{
	color:black;
}

.events_calender .date{
	font-size:0.8em;
	display:inline-block;
	margin-right:0.5em;

}

.events_calender .location{
	font-size:0.8em;
	display:inline-block;
	margin-right:0.5em;
}

.events_calender .time{
	font-size:0.8em;
	display:inline-block;
	margin-right:0.3em;
}

.events_calender .content{
	font-size:0.8em;
	display:block;
	text-align:center;
}